@page "/system_Gaisei"
@inject HttpClient Http
@inject IJSRuntime JS
<h3 class="d-flex justify-content-center">
    <strong style="font-size: xx-large;">
        外部委託システム等
    </strong>
</h3>
<div class="buttonproperty">
    <div mat-button-toggle class="btn btn-primary" @onclick="(e=>CallFormEdit(EditURL))">データ追加</div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="iconitem" rowspan="3">削除</th>
            <th class="iconitem" rowspan="3">更新</th>
            <th rowspan="1">情報システムID</th>
            <th rowspan="3">区分</th>
            <th class="systemname" rowspan="3">情報システム名</th>
            <th class="gaiyo" rowspan="3">概要</th>
            <th rowspan="1">主管課室名</th>
            <th colspan="2">情報システム責任者</th>
            <th colspan="3">連絡担当者</th>
            <th rowspan="3">当初運用開始年度</th>
            <th rowspan="3">次期更改予定時期</th>
            <th colspan="5">利用者属性</th>
            <th rowspan="3">国、地方、他法人のシステムとの連携</th>
            <th colspan="2">規模等</th>
            <th colspan="4">取り扱う情報の格付</th>
            <th rowspan="3">取り扱う情報の取扱制限</th>
            <th colspan="2">個人情報</th>
            <th rowspan="3">システム種別</th>
            <th colspan="2">開発方式</th>
            <th colspan="3">開発アプリケーション</th>
            <th colspan="3">物理サーバー等</th>
            <th colspan="5">通信する統計センター外通信回線の種別</th>
            <th rowspan="3">パッケージ名</th>
            <th rowspan="3">パッケージ開発元</th>
            <th colspan="13">クラウドサービス利用情報</th>
            <th rowspan="3">クラウド移行予定</th>
            <th rowspan="3">目標稼働率(%)</th>
            <th colspan="3">直近の導入・更改契約情報</th>
            <th colspan="5">直近の保守・賃貸借等契約情報</th>
            <th colspan="6">直近の運用契約情報</th>
        </tr>

        <tr>
            <th rowspan="2">
                <!-- フォームタグで囲むことで、テキストボックスでEnterを押したタイミングでsubmitイベント(フィルター)を起動させる  -->
                <form @onsubmit=Filterfn>
                    <input class="form-control" @bind-value="systemidfilter" />
                </form>
            </th>
            <th rowspan="2">
                <form @onsubmit=Filterfn>
                    <input class="form-control" @bind-value="shukankashitsufilter">
                </form>
            </th>
            <th rowspan="2">所属及び役職</th>
            <th rowspan="2">氏名</th>

            <th rowspan="2">所属及び役職</th>
            <th rowspan="2">氏名</th>
            <th rowspan="2">内線番号</th>

            <th rowspan="2">統計センター内</th>
            <th rowspan="2">統計局</th>
            <th rowspan="2">他の政府機関</th>
            <th rowspan="2">地方公共団体</th>
            <th rowspan="2">一般利用者(国民等)</th>
            <th rowspan="2">想定利用人数(人)</th>
            <th rowspan="2">Webサーバー年間利用PV数</th>
            <th rowspan="2">機密性3情報</th>
            <th rowspan="2">機密性2情報</th>
            <th rowspan="2">完全性2情報</th>
            <th rowspan="2">可用性2情報</th>
            <th rowspan="2" style="border-right: none;">個人情報の取扱</th>
            <th style="border-left: none;"></th>

            <th rowspan="2">開発方式</th>
            <th rowspan="2">その他の場合の内容</th>
            <th rowspan="2">LOC(Kstep)</th>
            <th rowspan="2">画面数</th>

            <th rowspan="2">帳簿数</th>
            <th rowspan="2" style="border-right: none;">物理サーバー等設置拠点数</th>
            <th style="border-left: none;"></th>

            <th rowspan="2">物理サーバー台数</th>

            <th rowspan="2">インターネット</th>
            <th rowspan="2">政府共通NW</th>
            <th rowspan="2">SINET</th>
            <th rowspan="2">LGWIN</th>
            <th rowspan="2">その他</th>
            <th rowspan="2">利用有無</th>
            <th rowspan="2">クラウドサービス名</th>

            <th rowspan="2">請負事業者</th>
            <th rowspan="2">サービス企業</th>
            <th rowspan="2">クラウドサービスの概要</th>
            <th colspan="2">契約期間</th>
            <th rowspan="2">ドメイン名</th>

            <th colspan="4">取り扱う情報の格付</th>
            <th rowspan="2">取り扱う情報の取扱制限</th>
            <th rowspan="2">請負事業者</th>
            <th rowspan="2">導入（更改）時期</th>
            <th rowspan="2">契約額(千円)</th>
            <th rowspan="2">請負事業者</th>
            <th colspan="2">保守・賃貸借等期間</th>
            <th rowspan="2">契約額(千円)</th>
            <th rowspan="2">導入・更改と同一契約か</th>
            <th rowspan="2">請負事業者</th>
            <th colspan="2">運用期間</th>
            <th rowspan="2">契約額(千円)</th>
            <th rowspan="2">導入・更改と同一契約か</th>
            <th rowspan="2">保守・賃貸借と同一契約か</th>
        </tr>

        <tr>
            <th>特定個人情報の取扱</th>
            <th>うちバックアップ拠点数</th>
            <th>契約開始</th>
            <th>契約終了</th>
            <th>機密性3情報</th>
            <th>機密性2情報</th>
            <th>完全性2情報</th>
            <th>可用性2情報</th>
            <th>契約開始</th>
            <th>契約終了</th>
            <th>契約開始</th>
            <th>契約終了</th>

        </tr>

    </thead>

    <tbody>
        @foreach (var dataItem in CurrentData)
        {
            @if (@dataItem.isDelete)
            {
                continue;
            }
            <tr>
                <!--削除ボタン-->
                <td>
                    <button xmlns="http://www.w3.org/2000/svg" type="button" class="btn btn-light mr-1" @onclick="(e=>DeleteClickAsync(dataItem))">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                        </svg>
                    </button>
                </td>

                <!--更新ボタン-->
                <td>
                    <button xmlns="http://www.w3.org/2000/svg" type="button" class="btn btn-light mr-1" @onclick="(e=>CallFormEdit(GetUpdateURL(dataItem.id)))">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                </td>

                <td>@dataItem.id</td>
                <td>@dataItem.kubun</td>
                <td>@dataItem.systemName</td>
                <td>@dataItem.gaiyo</td>
                <td>@dataItem.shukanKashitsu</td>
                <td>@dataItem.sekinin_Shozoku</td>
                <td>@dataItem.sekinin_Name</td>
                <td>@dataItem.renraku_Shozoku</td>
                <td>@dataItem.renraku_Name</td>
                <td>@dataItem.renraku_Naisen</td>
                <td>@dataItem.unyoKaishi</td>
                <td>@dataItem.jikiKoukai</td>
                <td>@dataItem.user_Center</td>
                <td>@dataItem.user_Kyoku</td>
                <td>@dataItem.user_Seifu</td>
                <td>@dataItem.user_Localgovernment</td>
                <td>@dataItem.user_Ippan</td>
                <td>@dataItem.system_Coope</td>
                <td>@dataItem.kibo_Cnt</td>
                <td>@dataItem.kibo_PV</td>
                <td>@dataItem.infoType_Kimitsu3</td>
                <td>@dataItem.infoType_Kimitsu2</td>
                <td>@dataItem.infoType_Kanzen2</td>
                <td>@dataItem.infoType_Kayo2</td>
                <td>@dataItem.toriatsukaiseigen</td>
                <td>@dataItem.kojin_Toriatsukai</td>
                <td>@dataItem.kojin_Tokutei</td>
                <td>@dataItem.systemType</td>
                <td>@dataItem.dev_Way</td>
                <td>@dataItem.dev_Other</td>
                <td>@dataItem.app_LOC</td>
                <td>@dataItem.app_GamenCnt</td>
                <td>@dataItem.app_ChohyoCnt</td>
                <td>@dataItem.server_BaseCnt</td>
                <td>@dataItem.server_BackupCnt</td>
                <td>@dataItem.server_Cnt</td>
                <td>@dataItem.lineType_IE</td>
                <td>@dataItem.lineType_SeifuNW</td>
                <td>@dataItem.lineType_SINET</td>
                <td>@dataItem.lineType_LGWIN</td>
                <td>@dataItem.lineType_Other</td>
                <td>@dataItem.packageName</td>
                <td>@dataItem.packageDev</td>
                <td>@dataItem.cloudService_UserUmu</td>
                <td>@dataItem.cloudService_SeviceName</td>
                <td>@dataItem.cloudService_Jigyosha</td>
                <td>@dataItem.cloudService_ServiceKigyo</td>
                <td>@dataItem.cloudService_Gaiyo</td>
                <td>@dataItem.cloudService_Start</td>
                <td>@dataItem.cloudService_End</td>
                <td>@dataItem.cloudService_DomainName</td>
                <td>@dataItem.cloudService_Kimitsu3</td>
                <td>@dataItem.cloudService_Kimitsu2</td>
                <td>@dataItem.cloudService_Kanzen2</td>
                <td>@dataItem.cloudService_Kayo2</td>
                <td>@dataItem.cloudService_Toriatsukai</td>
                <td>@dataItem.cloudService_Schedule</td>
                <td>@dataItem.mokuhyoRate</td>
                <td>@dataItem.donyu_Jigyosha</td>
                <td>@dataItem.donyu_Jiki</td>
                <td>@dataItem.donyu_Price</td>
                <td>@dataItem.hoshu_Jigyosha</td>
                <td>@dataItem.hoshu_Start</td>
                <td>@dataItem.hoshu_End</td>
                <td>@dataItem.hoshu_Price}}</td>
                <td>@dataItem.hoshu_SameDonyu</td>
                <td>@dataItem.unyo_Jigyosha</td>
                <td>@dataItem.unyo_Start</td>
                <td>@dataItem.unyo_End</td>
                <td>@dataItem.unyo_Price</td>
                <td>@dataItem.unyo_SameDonyu</td>
                <td>@dataItem.unyo_SameHoshu</td>
            </tr>
        }
    </tbody>
</table>